<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/stylesheet.css?v=1.1">

</head>
<body>
    <section class="UserPanel">
        <div class="Sidebar">
            <h2>Dashboard</h2>
            <button onclick="redirectTo('AdGrev')">Add</button>
            <button onclick="redirectTo('TrackGrie')">Track</button>
            <button onclick="redirectTo('Update')">Update AccInfo</button>

        </div>

    </section>

     <script src="/static/userscript.js"></script>
</body>
</html>
